{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Explora los tesoros ocultos del Beni con Tesoros del Beni. Descubre ruinas antiguas, envía tus propios hallazgos y visualiza un mapa interactivo de descubrimientos arqueológicos. ¡Únete a nosotros para desvelar los misterios del pasado!">

    <link rel="stylesheet" href="{% static 'admin_ssu/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'tesorosbeni/css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    {% comment %} <link rel="icon" href="{% static 'reportbump/logos/logo_trinibache.ico' %}"> {% endcomment %}
    <!-- reference CSS file -->
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
    {% block css %}
    
    {% endblock css %}
</head>
<body>
    <header>
        {% include 'reportbump/layouts/header-page.html' %}
    </header>
    <main>
        
        {% block content %}
            
        {% endblock content %}
    </main>
    <footer class="footer">
        {% include 'reportbump/layouts/footer.html' %}
    </footer>
    <!-- scroll top button -->
    {% comment %} <a href="#home" class="fa fa-chevron-up" id="scroll-top"></a> {% endcomment %}
    
    <script src="{% static 'admin_ssu/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static "tesorosbeni/js/script.js" %}"></script>
    {% block js %}
    
    {% endblock js %}
</body>
</html>