{% extends "reportbump/layouts/base_page.html" %}
{% block title %}TESORO DEL BENI{% endblock title %}
{% block content %}
<section id="home" class="home section-dark">
    <div class="container">
        <div class="limit-text-container" >
            <p class="pre-subtitle-page">Descubrimiento</p>
            <h1 class="subtitle">{{pothole.title}}</h1>
        </div>
        <h1 class="h1 text-center"></h1>
        <div class="d-flex justify-content-center mb-5 ">
            <img class="img" src="{{ pothole.display_image.url }}" alt="Foto del " width="300px">
        </div>
        {% comment %} <h2>Gestión: {{pothole.year_management}}</h2>
        <p class="contenido">
            <strong>Categoria:</strong> {{ pothole.category.name }}
        </p> {% endcomment %}
        <p class="contenido text-center">
            {{ pothole.description }}
        </p>
        <p>
            Autor: {{ pothole.reported_by }}
        </p>
        {% if pothole.discovery_date %}
        <p>
            Fecha de descubrimiento: {{ pothole.discovery_date }}
        </p>
        {% endif %}
    </div>
</section>
{% endblock content %}
{% block css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
{% endblock css %}
{% block js %}

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script>

</script>
{% endblock js %}